* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  background: url("https://tc.miniwhite.top/images/123.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.main {
  min-width: 1150px;
  /* height: 85vh; */
  /* height: 768px; */
  /* background-color: blue; */
  background-color: rgba(255, 255, 255, .2);
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  z-index: 1;
}

.main ::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .5);
  background: url('https://tc.miniwhite.top/images/123.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.header {
  display: flex;
  width: 100%;
  height: 10vh;
  /* background-color: aqua; */
}

.header-left {
  width: 25%;
  height: 100%;
  background-color: red;
}

.header-right {
  display: flex;
  width: 75%;
  height: 100%;
  /* background-color: palevioletred; */
}

.header-right .search {
  width: 65%;
  height: 80%;
  border-radius: 50px;
  margin: 10px 30px;
}

.header-right label {
  width: 20px;
  height: 80px;
  /* margin-left: -10px; */
}

.header-right input {
  width: 85%;
  height: 80%;
  /* border-radius: 50px; */
  padding: 0 5px;
  margin: 5px 15px;
  outline: none;
  border: 0;
  background-color: transparent;
}

.header-right .search:hover {
  border: 1px solid pink;
}

/* .search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  background-color: red;
} */

.container-main {
  display: flex;
  width: 100%;
  height: 65vh;
  /* background-color: pink; */
}

.music-control {
  display: flex;
  width: 100%;
  /* height: 10vh; */
  background-color: #fff;
  border-radius: 10px;
}

.container-mainLeft {
  border-radius: 10px;
  width: 23%;
  height: 95%;
  background-color: #fff;
  margin: 10px 10px;
}

.container-mainLeft ul {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.container-mainLeft ul li {
  display: block;
  width: 100%;
  height: 10%;
  text-align: center;
  line-height: 50px;
  list-style: none;
  border-radius: 10px;
  /* background-color: red; */
}

.container-mainLeft ul li:hover {
  background-color: #f5f5f5;
}

.container-mainLeft ul h3 {
  margin: 5px 0;
}

.container-mainRight {
  width: 76%;
  height: 100%;
  /* background-color: red; */
}

.mainRight-up {
  margin: 10px 0;
  height: 50%;
  /* background-color: red; */
}

.banner {
  width: 100%;
  height: 85%;
  text-align: center;
  background-color: yellow;
  margin: 10px 0;
}

.mainRight-down {
  height: 45%;
  /* background-color: blue; */
}

.recommend-list {
  display: flex;
  width: 100%;
  height: 85%;
  text-align: center;
  /* background-color: yellow; */
}

.recommend-music {
  /* width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px; */
  width: 20%;
  height: 80%;
  /* background-color: blue; */
  margin: 15px 10px;
  border-radius: 10px;
}

.recommend-music img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.music-text {
  display: flex;
  width: 300px;
  height: 100%;
  /* background-color: red; */
}

.music-logo img {
  width: 60px;
  height: 60px;
  background-color: yellow;
  margin: 5px 20px;
}

.music-name {
  width: 200px;
  height: 100%;
}

.music-name p {
  margin: 10px 0;
}

.music-control audio {
  min-width: 600px;
  margin: 10px 20px;
}

audio {
  color: red;
}